html,
body,
#map {
  height: 100%;
}

#controls {
  position: absolute;
  top: 0;
  right: 0;
}

#query {
  border-width: 0 0 1px;
  margin-left: 1px;
}

#content {
  position: relative;
  overflow: hidden;
  height: 100%;
}

#places {
  .input-group, .button {
    margin-bottom: 0;
  }
}

.amenity-title {
  margin: 0;
  padding: 0.2rem 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: map-get($foundation-palette, secondary);
  color: $white;
  cursor: pointer;
}

.place-selected {
  padding-bottom: 3rem;
}

.place-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.place-container {
  background-color: $white;
  box-shadow: 0 -4px 40px black;
}

.place-content {
  overflow: hidden;
  transition: 1s max-height;

  .collapsed & {
    max-height: 0;
  }

  .expanded & {
    max-height: 200px;
  }
}

@keyframes place-expand {
  0% {
    top: -60px;
  }

  100% {
    top: -100%;
  }
}

@keyframes place-collapse {
  0% {
    top: -100%;
  }

  100% {
    top: -60px;
  }
}

.place-title {
  padding: 0.5rem;

  h1 {
    margin: 0;
    font-size: 2rem;
    line-height: 1;
  }

  .button {
    margin: 0;
  }
}

.place-content-wrapper {
  padding: 0 0.5rem 0.5rem;
}

.place-address {
  font-size: inherit;
  color: map-get($foundation-palette, secondary);
}

.place-icon {
  width: 1em;
  height: 1em;
}

.infinite-progress {
  height: 2px;

  &.progress-active::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background-color: map-get($foundation-palette, primary);
    animation-duration: 1s;
    animation-name: progressbar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes progressbar {
  0% {
    margin-left: 0%;
    width: 0%;
  }

  50% {
    margin-left: 25%;
    width: 50%;
  }

  100% {
    margin-left: 100%;
    width: 0%;
  }
}
